.matter-infobox-corner
.matter-infobox-content
	.row
		.col-1of1
			.col-content
				table.table
					tr
						td 事项类别
						td=model.getType()
					tr
						td 受理单位
						td=model.getUnit()
					tr
						td 办理期限
						td=model.getTimeLimit()
					tr
						td 办理条件
						td=model.getConditions()
					tr
						td 所需申办材料
						td=model.getMaterials()
					tr
						td 办理流程
						td=model.getProcedures()
					tr
						td 设立依据
						td=model.getBasis()
					tr
						td 表格下载
						td(id = 'forms')
