.bus-list-bg(style='display:none;')
.bus-list(style='display:none;')
	.bus-list-title= busListModel.getName()
		.btn-close-list 关闭
	.bus-list-content
		- var buslines = busListModel.getBusLines().models
		for busline,i in buslines
			if i < buslines.length - 1
				.bus-line
					.bus-line-title= busline.getName()
					.bus-line-intro!= busline.getIntro()
			else
				.bus-line.bus-line-last
					.bus-line-title= busline.getName()
					.bus-line-intro!= busline.getIntro()